.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 2rem;
  background: rgba(0, 10, 48, 0.5);
  padding: 1rem;
  position: relative;
  box-shadow: 0 0 16px #01fbfa;
  max-width: 100%; 
}


.form__title--link {
  font-size: 2rem;
  letter-spacing: .05rem;
  color: #01fbfa;
  text-shadow: 2px 4px 10px #000a30;
}

.form__group {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin-top: 1rem;
  box-shadow: 0 0 16px #4662FF; 
}

.form__input {
  flex-grow: 3;
  background-color: #01fbfa;
  padding: .6rem 1rem;
  font-size: 1.1rem;
  border: none;
  max-width: 100%;
}

.form__input:focus {
  box-shadow: inset 0 0 10px #000a30;
  outline: none;
}

.form__btn {
  flex-grow: 1;
  font-size: 1.4rem;
  font-weight: 700;
  background-color: transparent;
  border: 3px solid #01fbfa;
  color: #FF335E;
  transition: transform .2s ease;
  padding: .4rem .6rem;
}

.form__btn:hover,
.form__btn:focus {
  box-shadow: inset 0 0 20px #01fbfa;
}

.form__btn:active {
  transform: scale(1.1);
}

.form__btn:focus, 
.form__btn:active {
  outline: none;
}