.logo-box {
  margin: 2rem 2rem 1rem 2rem;
  display: inline-block;
}

.Tilt { 
  box-shadow: 0 0 10px rgba(1, 251, 250, 1);
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100px;
  max-height: 100px;
}

.Tilt img {
  width: 66px;
  height: 66px;
}

