.nav {
  display: flex;
  justify-content: space-between;
  color: #01fbfa;
}

.sign-btn {
  font-size: 2rem;
  text-decoration: underline;
  cursor: pointer;
  margin: 2rem;
}

.sign-btn:hover {
  color: #FFF;
}