.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #01fbfa;
  font-family: 'VT323';
}

.nav__btn {
  font-size: 1.6rem;
  text-decoration: underline;
  cursor: pointer;
  margin: 2rem;
}

.nav__btn:hover {
  color: #FF335E;
}