.img__container {
  position: relative;
  margin: 2rem 0;
  box-shadow: 0 0 20px #01fbfa;
  max-width: 500px;
  max-height: 450px;
}

.img__container img {
  max-width: 400px;
  max-height: 350px;
  /*fixing 3px reserved gap at the bottom due to displaying img as inline, 
  another fix would be vertical-align: middle or font-size: 0 in parent element*/
  display: block;
}

.img__box {
  position: absolute;
  visibility: hidden;
  box-shadow: 0 0 0 3px #FF335E;
}